language: php

php:
    - "5.4"
    - "5.3"

before_script:
    - composer install

script: phpunit --coverage-text

notifications:
	email:
    	recipients:
      		- dani@danisalgueiro.com
    	on_success: never
    	on_failure: always